{% load static %}
<html>
  <head>
    <title>
      Homepage
    </title>
  </head>
  <body>
    Benvenuto nella homepage. Cosa vuoi fare?
    <ul>
      <li><a href="/core/magazzino" > Gestione Magazzino </li>
      <li><a href="/core/menu" > Gestione menù </li>
      <li><a href="/core/prodotti" > Gestione prodotti </li>
      <li><a href="/core/ricette" > Gestione ricette </li>
      <li><a href="/core/scaffali" > Gestione scaffali </li>
      <li><a href="/core/unitaMisura" > Gestione unità di misura </li>

    </ul>
  </body>
</html>
